#! /bin/sh
# ~/.xprofile: execute commands at the beginning of the X user
#              session - before the window manager is started.
#
# The xprofile files are natively sourced by the following
# display managers:
#
#     GDM     - /etc/gdm/Xsession
#     LightDM - /etc/lightdm/Xsession
#     LXDM    - /etc/lxdm/Xsession
#     SDDM    - /usr/share/sddm/scripts/Xsession
#
# More in https://wiki.archlinux.org/index.php/Autostarting

export EDITOR=nvim
export QT_QPA_PLATFORMTHEME=qt6ct

export PATH="${PATH}:$HOME/.local/bin"
export PATH="${PATH}:$HOME/doom-emacs/bin"
export PATH="${PATH}:$HOME/.cargo/env"
export PATH="${PATH}:$HOME/MATLAB/R2022a/bin"

xinput set-prop "Synaptics TM3053-003" "libinput Tapping Enabled" 1 &
xinput set-prop "Synaptics TM3053-003" "libinput Natural Scrolling Enabled" 1 &
xcape -e "Control_L=Escape"
