custom_color_contrast 0.3
custom_color_mode_empty_background_color #1d2021
page_separator_color #1d2021
page_separator_width 10
custom_background_color #282828
custom_text_color #fbf1c7
search_highlight_color #7ec16e
visual_mark_color 0.0 0.0 0.0 0.25
status_bar_color #427b58
status_bar_text_color #fbf1c7
startup_commands toggle_custom_color;fit_to_page_width

super_fast_search 1

ui_font Iosevka
font_size 16
status_bar_font_size 16

shared_database_path /home/fab/Documents/note-box/shared.db
